<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Styling-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <script
      src="https://kit.fontawesome.com/97bbef3340.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="../static/styles/projects.css" />
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="../static/styles/default.css"
    /> -->
    <title>About</title>
  </head>
  <body>
    
    <div class="intro-wrapper">
          <div class="nav-wrapper">
            <!-- Link around dots-wrapper added after tutorial video -->
            <a href="index.html">
              <div class="dots-wrapper">
                <div id="dot-1" class="browser-dot"></div>
                <div id="dot-2" class="browser-dot"></div>
                <div id="dot-3" class="browser-dot"></div>
              </div>
            </a>

            <ul id="navigation">
              <li><a href="{{url_for('about')}}">About |</a></li>
              <li><a href="{{url_for('work')}}">Work |</a></li>
              <li><a href="{{url_for('projects')}}">Projects |</a></li>
              <li><a href="{{url_for('certi')}}">Certificates |</a></li>
              <li><a href="{{url_for('contact')}}">Contact</a></li>
            </ul>
          </div>

        <section class="s1">
      <div class="main-container">
        <h3 style="text-align: center; margin-top: 30px; margin-bottom: 30px">Some of my past projects</h3>

        <div class="post-wrapper">
          <div>
            <div class="post">
              <img class="thumbnail" src="../static/img/Olympics.png" />
              <div class="post-preview">
                <h6 class="post-title">Olympics-data-analysis</h6>
                <p class="post-intro">
                 Detailed analysis of olympics and present as stremlit webapp hosted on heroku
                </p>
                <a href="https://github.com/mayuras7685/Olympics-data-analysis">Read More</a>
              </div>
            </div>
          </div>

          <div>
            <div class="post">
              <img class="thumbnail" src="../static/img/flask.jpg" />
              <div class="post-preview">
                <h6 class="post-title">Blog site using flask</h6>
                <p class="post-intro">
                  blog site using python flask where we create, delete, comment and like a post
                </p>
                <a href="https://github.com/mayuras7685/flask-blog">Read More</a>
              </div>
            </div>
          </div>

          <div>
            <div class="post">
              <img class="thumbnail" src="../static/img/happiness.jpg" />
              <div class="post-preview">
                <h6 class="post-title">Happpiness Index for schools</h6>
                <p class="post-intro">
                  we calculate and nurture the happiness of student and present as numbers
                </p>
                <a href="post.html">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="main-container">
        <h3 style="text-align: center">Some of latest projects</h3>

        <div class="post-wrapper">
          <div>
            <div class="post">
              <img class="thumbnail" src="images/dash.jpg" />
              <div class="post-preview">
                <h6 class="post-title">Laboratory Management System</h6>
                <p class="post-intro">
                  Designed built & mantained a the lab managment system for FOI
                  Laboratories
                </p>
                <a href="post.html">Read More</a>
              </div>
            </div>
          </div>

          <div>
            <div class="post">
              <img class="thumbnail" src="images/ecom.jpg" />
              <div class="post-preview">
                <h6 class="post-title">Online Store - CoursePost Title</h6>
                <p class="post-intro">
                  Online store with paypal payments intergration and guest user
                  shopping
                </p>
                <a href="post.html">Read More</a>
              </div>
            </div>
          </div>

          <div>
            <div class="post">
              <img class="thumbnail" src="images/membership site.jpg" />
              <div class="post-preview">
                <h6 class="post-title">Membership Website</h6>
                <p class="post-intro">
                  Modulized guide for online courses with step by step
                  intructions
                </p>
                <a href="post.html">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

          <script src="../static/js/mains.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
